.products{
    background-color: white;
    width: 60vw;
    height: 70vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.221);
    border-radius: 20px;
}
@media (max-width: 768px){
    .products{
        width: 70vw;
        height: 75vh;
    }
}

@media (max-width: 600px){
    .products{
        width: 80vw;    
        height: 80vh;
    }
}

@media (max-width: 450px){
    .products{
        width: 90vw;
        height: 80vh;
    }
}